# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables

*.tfvars.json

# Lock file
.terraform.lock.hcl

# Reports
gitleaks-report.json
tflint-report.json

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db